@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
  box-sizing: border-box;
  font-family: silkscreen;
}

html, body {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

section {
    float: left;
    margin: 1em 0em;
    height: 340px;
    width: 300px;
    text-align: center;
    text-decoration: none;
}

section h3 {
    font-size: 110%;
    padding: .5em;
    font-family: silkscreen;
    text-decoration: none;
    color:#000000;
}

main{
  background-color: #ffffff;
  border-style: inset;
  border-color: #bebebe #7e7e7e #7e7e7e #bebebe;
  border-width: 5px;
  min-height: 300px;
}

/*
header h2{
    border-style: ridge;
    background: linear-gradient(to right, #00007e 20%, #0000ff 80%, #06ffff );
    width: inherit;
    margin-bottom: 2em;
    color: #ffffff;
    border-color: #7e7e7e;
    font-family: ms sans serif;
    height: 1.5em;
    padding: .25em;
    margin: auto;
}
*/

header h1{
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 5px;
    font-size: 70px;
    font-family: silkscreen;
    font-weight: 100;
}

.taskbar{
  background: linear-gradient(to right, #00007e 20%, #0000ff 80%, #06ffff );
  display: flex;
  color: #ffffff;
  height: 1.7em;
  /*padding: .25em;*/
  margin: auto;
  /*padding-top: .65em;*/
  justify-content: space-between;
  align-items: center;
}
.taskbar h3{
  align-items: left;
  height: 1.5em;
  padding-top: .1em;
  padding-left: .2em;
}
.taskbar h2{
  align-items: right;
  height: 1.5em;
  padding-top: .1em;
}
.taskbar p{
  flex-grow: 6;
}
.taskbar img{
  width: 1.5em;
  height: 1.5em;
  padding-left: .1em;
  object-fit: fill;
  padding-right: .2;
  border-style: solid;
  border-width: .1em;
}

.column{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  /*flex-grow: 1;*/
}

.inlnbkg{
  background-color: #bebebe;
  border-style: ridge;
  border-width: 5px;
  border-color: #bebebe #7e7e7e #7e7e7e #bebebe;
}
.bdybkg{
  background-color: #008080;
}
img{
  width: 220px;
  height: 220px;
}
a:link{
  text-decoration: none;
}
button{
  border-style: ridge;
  border-width: .25em;
  border-color: #bebebe;
}

.btn{
  background-color: #bebebe;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
}
.btn:hover{
  background-color: #7e7e7e;
}
.btn a:link{
  text-decoration: none;
}



palette{
  color:
  #bebebe
  #7e7e7e
  #ffffff
  #000000
    
  #7e0000
  #fe0000
    
  #047e00
  #06ff04

  #7e7e00
  #ffff04

  #00007e
  #0000ff

  #047e7e
  #06ffff

  #7e007e
  #fe00ff
}


/*remove margins, put .columns into a flex box*/
/*set a minwidth for section/images */
/*look at media only*/